#aside__wrap {
  width: 260px;
  min-width: 260px;
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.aside__content {
  width: 260px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 70px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  background: #282828;
  overflow: auto;
  min-height: 100%;
}
.aside__content-top {
  padding: 0px 30px;
  display: flex;
  flex-flow: column nowrap;
}
.aside__logo {
  text-align: center;
  margin-bottom: 50px;
  //   order: 0;
}
.search-form,
.dgwt-wcas-search-wrapp {
  display: block;
  position: relative;
  background: transparent;
  border-bottom: 2px solid rgb(62, 62, 62);
  margin-bottom: 45px;
  height: 24px;
  overflow: hidden;
  padding-bottom: 2px;
  right: 0px;
  top: 7px;
  width: 100%;
  min-width: 200px;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/search.svg) center center / 16px no-repeat;
    cursor: pointer;
  }
}
input[type="search"],
input[type="s"] {
  padding: 0 !important;
  font-size: 13px !important;
  font-weight: bold;
  font-family: inherit !important;
  color: white !important;
  outline: none;
  border: none !important;
  display: block;
  height: 20px !important;
  line-height: 20px !important;
  background-color: transparent !important;
  &::placeholder {
    color: white !important;
    opacity: 1 !important;
    font-weight: normal !important;
    font-style: normal !important;
    font: normal 16px/24px "PT Sans", sans-serif !important;
  }
}
.search-submit {
  position: absolute;
  right: 10px;
  top: 0px;
  background: none;
  border: none;
  display: block;
  width: 16px;
  height: 20px;
  line-height: 20px;
  padding: 0px;
}

.aside__category-shop-title {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 260px;
  left: -30px;
  padding: 10px 0px 0 30px;
  text-transform: uppercase;
  color: white;
  position: relative;
  font-weight: bold;
  border-top: 1px solid rgb(62, 62, 62);
  cursor: pointer;
  @include transition;
  & > a {
    padding: 0 0 10px;
    display: inline-block;
  }
  &:last-child {
    margin-bottom: 3em;
    border-bottom: 1px solid rgb(62, 62, 62);
  }
  &.active {
    color: rgb(230, 75, 40);
    &::after {
      transform: rotate(-180deg);
      top: 15px;
      border-top-color: rgb(230, 73, 39);
    }
  }
  ul.submenu {
    padding-left: 45px;
    margin: 0 0 0px -30px;
    display: none;
    position: relative;
    z-index: 2;
    background-color: rgb(29, 29, 29);
    border-top: 1px solid rgb(62, 62, 62);
    li {
      padding: 5px 0px;
      font-size: 13px;
      &:nth-child(1) {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
      a {
        color: rgb(255, 255, 255);
        display: inline-block;
        line-height: 20px;
        padding: 0 0 2px 0;
        position: relative;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        @include transition;
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          left: 0;
          bottom: 0;
          background-color: rgb(230, 73, 39);
          @include transition;
        }
        &:hover {
          color: rgb(230, 75, 40);
          &::after {
            width: 100%;
          }
        }
        &[aria-current="page"] {
          color: rgb(230, 75, 40);
        }
      }
    }
  }
  &:hover {
    color: rgb(230, 73, 39);
    &::after {
      border-top-color: rgb(230, 73, 39);
    }
  }
  &::after {
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
    position: absolute;
    right: 30px;
    top: 20px;
    transition: all 0.3s ease-in-out;
  }
}
.aside__bottom-menu {
  padding: 15px 30px;
  ul {
    @include flex;
    justify-content: space-between;
    li {
      max-width: 50%;
      width: 100%;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(9) {
        display: none;
      }
      &:nth-child(4) {
        order: -1;
      }
      &:nth-child(6) {
        order: -1;
      }
      &:nth-child(6),
      &:nth-child(5),
      &:nth-child(8) {
        text-align: right;
      }
      a {
        color: #bababa;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
.aside__phone {
  padding: 15px 30px;
  color: rgb(248, 248, 249);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  &::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url(../img/phone.svg) center center / contain no-repeat;
  }
}
.aside__bottom-footer {
  width: 100%;
  background: rgb(34, 34, 34);
  padding: 10px 30px;
  @include flex;
  justify-content: space-between;
  align-items: center;
}
.aside__bottom-social {
  ul {
    @include flex;
    a.icon {
      margin: 0px 15px 0px 0px;
      color: rgb(142, 142, 142);
      font-size: 25px;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        font-family: "it-shirts-font";
        font-family: 25px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
      &.icon-instagram {
        &:before {
          content: "\67";
        }
      }
      &.icon-facebook {
        &:before {
          content: "\68";
        }
      }
    }
  }
}
.aside__bottom-currency {
  width: 100%;
  max-width: 55px;
  background: rgb(40, 40, 40);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 13px;
  height: 34px;
  padding-top: 5px;
}
.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
  display: none;
}
.dgwt-wcas-close:not(.dgwt-wcas-inner-preloader) {
  background: #282828;
  opacity: 1;
}
.dgwt-wcas-search-wrapp svg {
  position: relative;
  right: -12px;
}
