.product__card {
  background: rgb(255, 255, 255);
  box-shadow: rgba(5, 5, 5, 0.05) 0px 2px 4px 0px;
  margin: 2em 0;
  width: 100%;
}
.product__card-content {
  padding-bottom: 120px;
  h2 {
    color: rgb(195, 195, 195);
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
  }
}
.product__card-top {
  @include flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product__card-left {
  width: 100%;
  max-width: 421px;
}
.product__card__img-sliders {
  position: relative;
}
.slider-nav__box {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 30%;
}
.slider-for {
  margin-bottom: 10px;
  .card__product-img {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    max-width: 421px;
    height: 421px;
    img {
      width: 210px;
      height: 50%;
      object-fit: contain;
      position: absolute;
      top: 110px;
      left: 105px;
    }
  }
}
.slider-nav {
  width: 100%;
  .slider-nav__img {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    img {
      width: 26px;
      height: 50%;
      object-fit: contain;
      position: absolute;
      top: 13px;
      left: 12px;
    }
    &.slick-current {
      &::after {
        background: rgb(222, 83, 60);
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 4px;
      }
    }
  }
}
.product__card-right {
  width: 100%;
  max-width: 479px;
  margin-right: 30px;
  padding: 20px 0px 0;
  .count__number {
    position: absolute;
    left: -1000%;
  }
  h1 {
    color: rgb(0, 0, 0) !important;
    font-family: "PT Sans", sans-serif !important;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    margin-bottom: 0px !important;
    text-transform: none !important;
  }
}
.sku {
  color: rgb(127, 127, 127);
  font-size: 14px;
  line-height: 16px;
  margin: 1em 0px 2em;
  @include flex;
  justify-content: space-between;
  .in__stock,
  .out__stock {
    white-space: nowrap;
    font-size: 15px;
    margin-left: 18px;
    color: rgb(59, 162, 61);
    font-weight: 600;
    font-family: "PT Sans", sans-serif;
    position: relative;
    img {
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      left: -18px;
    }
  }
  .out__stock {
    color: red;
    margin-left: 0;
  }
}
.price_button {
  background: rgb(255, 248, 229);
  padding: 0 20px;
  height: 80px;
  @include flex;
  justify-content: space-between;
  align-items: center;
  & > span {
    display: block;
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 600;
    color: rgb(39, 14, 10);
    line-height: 1;
  }
  .woocommerce-Price-amount,
  .woocommerce-Price-currencySymbol {
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 600;
  }
  .woocommerce-Price-currencySymbol {
    text-transform: lowercase;
  }
  #pseudoCartBtn {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 24px;
    padding: 14px 0px;
    line-height: 1;
    text-align: center;
    box-shadow: rgba(230, 73, 39, 0.21) 0px 6px 10px 0px;
    border: none;
    background: linear-gradient(
      to right,
      rgb(232, 89, 58) 0%,
      rgb(243, 114, 53) 100%
    );
    border-radius: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      background: rgb(255, 130, 63);
    }
  }
}
.product__card-atribute {
  font-size: 14px;
  margin: 20px 0px 0px;
}

.item__type,
.atribute__items,
#ivpa-content .ivpa_custom_option,
#ivpa-content .ivpa_attribute {
  display: grid;
  grid-template-columns: 93px 1fr;
  grid-gap: 5px;
  text-align: center;
  margin-bottom: 10px !important;
}

#ivpa-content {
  .ivpa_attribute[data-attribute="pa_color"].ivpa_text.ivpa_border
    .ivpa_term.ivpa_active,
  .ivpa_custom_option.ivpa_text.ivpa_border .ivpa_term,
  .ivpa_attribute.ivpa_text.ivpa_border .ivpa_term,
  .ivpa_attribute[data-attribute="pa_size"].ivpa_text.ivpa_border
    .ivpa_term.ivpa_active {
    border: 2px solid rgba(251, 251, 251, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(251, 251, 251);
    font-size: 14px;
    height: 28px;
    width: 100%;
    margin: 0 5px;
    padding: 3px 0 0;
    border-radius: 0;
    line-height: 1.2;
    box-sizing: border-box;
    cursor: pointer;
  }
  .ivpa_attribute {
    &[data-attribute="pa_color"].ivpa_text.ivpa_border,
    &[data-attribute="pa_size"].ivpa_text.ivpa_border {
      .ivpa_term.ivpa_active {
        border-color: transparent !important;
        color: black !important;
      }
    }
    &[data-attribute="pa_color"].ivpa_text.ivpa_border
      .ivpa_term.ivpa_active.ivpa_clicked,
    &[data-attribute="pa_color"].ivpa_text.ivpa_border
      .ivpa_term.ivpa_active.ivpa_clicked.ivpa_outofstock,
    &[data-attribute="pa_size"].ivpa_text.ivpa_border
      .ivpa_term.ivpa_active.ivpa_clicked,
    &[data-attribute="pa_size"].ivpa_text.ivpa_border
      .ivpa_term.ivpa_active.ivpa_clicked,
    &[data-attribute="gift-card-amount"].ivpa_text.ivpa_border
      .ivpa_term.ivpa_active.ivpa_clicked.ivpa_outofstock {
      border-color: rgb(230, 73, 39) !important;
      background-color: rgb(251, 251, 251);
      font-weight: bold;
      color: rgb(0, 0, 0) !important;
    }
  }
}
.product__card-atribute {
  .item {
    background-color: rgb(251, 251, 251);
  }
  .t__shirt {
    &.active {
      border: 2px solid rgb(230, 73, 39);
      background-color: rgb(251, 251, 251);
      font-weight: bold;
    }
  }
}

.item__type {
  grid-template-columns: 93px 1fr 1fr;
  gap: 10px;
  .item {
    margin: 0 !important;
  }
}
.ivpa-terms {
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
}
.item__size {
  grid-template-columns: 88px repeat(6, 1fr);
  .item {
    text-transform: uppercase;
  }
}
.ivpa-content:before,
#ivpa-content:before,
.ivpa-content:after,
#ivpa-content:after,
#ivpa-content .ivpa_custom_option:before,
#ivpa-content .ivpa_custom_option:after,
#ivpa-content .ivpa_attribute:before,
#ivpa-content .ivpa_attribute:after {
  position: absolute;
  left: -1000%;
}
.atribute__title,
.ivpa_title {
  background: rgb(243, 243, 243);
  border-radius: 3px !important;
  height: 28px;
  font-size: 14px !important;
  margin: 0 !important;
}
.table__size {
  position: relative;
  & > a {
    width: 100%;
    display: inline-block;
    background: rgb(243, 243, 243);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    height: 32px;
    padding-top: 8px;
    color: black;
    position: relative;
    @include transition;
    &:hover {
      background: rgb(251, 251, 251);
    }
    &::before {
      content: url(../img/shirt_sizes.svg);
      transform: translate(-8px, 2px);
      display: inline-block;
    }
  }
}
.table__size-pseudo {
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 3;
  & > img {
    margin: 0 20px 20px 0;
    width: 110px;
    height: 95px;
  }
  p {
    color: rgb(163, 163, 163);
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 14px 0;
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgb(236, 236, 236);
  }
  &.active {
    display: block;
  }
}
.table__size-pseudo-content {
  padding: 10px 20px 0 20px;
  @include flex;
  justify-content: space-around;
  font-size: 14px;
  color: #454545;
  table {
    border-spacing: 2px;
    border-collapse: separate;
    margin-bottom: 20px;
  }
  tr {
    th {
      background: rgb(243, 243, 243);
      font-weight: bold;
      width: 38px;
      height: 25px;
      padding: 5px 0 0;
      &:first-child {
        background: rgb(251, 251, 251);
      }
    }
    td {
      background: rgb(251, 251, 251);
      width: 38px;
      height: 25px;
      padding: 5px 0 0;
      font-weight: normal;
      text-align: center;
      &:first-child {
        background: rgb(243, 243, 243);
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.product__card-right__description {
  margin: 2em 0px 0;
  width: 100%;
  ul {
    display: flex;
  }
}
.right__description-item {
  width: 120px;
  height: 100%;
  @include transition;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  img {
    width: 42px;
    height: 48px;
    margin: 0 auto 8px;
    display: block;
    object-fit: contain;
  }
  strong {
    display: block;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    padding: 0px 10px;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    .item__tooltip-hover {
      opacity: 1;
      visibility: visible;
    }
  }
  &:nth-child(1) {
    &:hover {
      img {
        content: url(../img/icon-mona-lisa.svg);
      }
    }
  }
  &:nth-child(2) {
    &:hover {
      img {
        content: url(../img/icon-washing.svg);
      }
    }
  }
  &:nth-child(3) {
    &:hover {
      img {
        content: url(../img/icon-cotton.svg);
      }
    }
  }
  &:nth-child(4) {
    &:hover {
      img {
        content: url(../img/icon-tshirt.svg);
      }
    }
  }
}
.item__tooltip-hover {
  display: inline-block;
  color: rgb(190, 190, 190);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
  @include transition;
}
.product__card-description {
  padding: 5px 0px 0px 10px;
  ul {
    li {
      display: grid;
      grid-template-columns: 73px 1fr;
      grid-gap: 3px;
      &:nth-child(2n) {
        span {
          background-color: white;
        }
      }
      span {
        background: rgb(248, 248, 248);
        font-size: 14px;
        padding: 8px 10px 7px;
        display: inline-block;
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
.single_add_to_cart_button {
  position: absolute;
  left: -1000%;
}
#ivpa-content {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  .ivpa-info-box {
    display: none !important;
  }
}
.added_to_cart.button.wc-forward {
  display: none;
}
.quantity {
  width: 100%;
  max-width: 170px;
}
// gift
.gift {
  h1 {
    margin-bottom: 0;
  }
}
.gift__content {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.gift__content-left {
  width: 100%;
  max-width: 640px;
}
.gift__content-right {
  background: #fff8e5;
  font-size: 14px;
  line-height: 20px;
  padding: 30px;
  position: sticky;
  top: 110px;
  width: 270px;
  text-align: center;
  .add_to_cart_button {
    padding: 14px 0;
  }
  &::before,
  &::after {
    background: url(../img/cert-border-top.png) repeat-x;
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 0;
  }
  &::after {
    background: url(../img/cert-border-bottom.png) repeat-x;
    bottom: -6px;
    top: unset;
  }
  .pwgc-field-container {
    display: none;
  }
  input[type="text"] {
    position: absolute;
    left: -1000%;
  }
  strong {
    display: block;
    font-size: 18px;
    padding-bottom: 1em;
  }
  .ivpa_attribute {
    grid-template-columns: 1fr !important;
  }
  .ivpa_title {
    background: transparent !important;
    margin: 10px 0 !important;
    padding-bottom: 0 !important;
  }
  .gift {
    display: flex;
    flex-direction: column;
  }
  .gift__content-right-description {
    padding: 0 !important;
  }
  .gift__content-right__price,
  .ivpa_term {
    border: 2px solid #f9dfd3 !important;
    background-color: transparent !important;
    border-radius: 5px !important;
    display: block !important;
    font-family: "Gilroy" !important;
    font-size: 30px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    margin: 0 auto !important;
    padding: 11px 0 !important;
    text-align: center !important;
    width: 160px !important;
    color: black !important;
    cursor: pointer !important;
  }
}
.gift__content-right__addToCart {
  display: block;
  margin: 20px auto 0;
  text-decoration: none;
  width: 160px;
  font-size: 24px;
  font-weight: normal;
  padding: 14px 2em;
  position: relative;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right,
    rgb(232, 89, 58) 0%,
    rgb(243, 114, 53) 100%
  );
  box-shadow: 0px 6px 10px 0px rgba(230, 73, 39, 0.21);
  border: none;
  &:hover {
    background: #ff823f;
  }
}
