#header {
  position: fixed;
  left: 260px;
  right: 0px;
  top: 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  padding: 11px 0px 12px;
  z-index: 4;
  .container {
    @include flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.header__menu {
  width: 100%;
  ul {
    @include flex;
    max-width: calc(100% - 125px);
    width: 100%;
    li {
      color: #4c4c4c;
      display: inline;
      font-size: 13px;
      line-height: 30px;
      margin-right: 3.5%;
      position: relative;
      a {
        white-space: nowrap;
        color: rgb(76, 76, 76);
        line-height: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
#cart,
li.tablinks span,
.contacts__right .icon {
  &::before {
    font-family: "it-shirts-font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
}
#cart {
  width: 120px;
  background: rgb(255, 255, 255);
  color: rgb(230, 73, 39);
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  &::before {
    content: "\65";
    color: rgb(222, 222, 222);
    font-size: 1.2em;
    line-height: 20px;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
}
.cart__btn {
  display: inline-block;
  line-height: 20px;
  padding: 0 0 2px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: #e64927;
    @include transition;
    transform: scaleX(0);
  }
  &:hover::after {
    transform: scaleX(1);
    visibility: visible;
  }
}
.cart_counter {
  background: rgb(230, 73, 39);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-left: 3px;
  text-align: center;
}
.cart__item {
  padding: 20px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.cart__item-del {
  .cart__item-icon {
    color: rgb(230, 73, 39);
    &::after {
      content: "l";

      line-height: 1;
      -webkit-font-smoothing: antialiased;
      font-family: "it-shirts-font";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }
  }
}
.cart__item-img {
  padding: 0px 10px;
  width: 110px;
  min-width: 110px;
  height: 70px;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
.cart__item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 320px);
  & > a {
    color: rgb(50, 28, 25);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin-bottom: 4px;
  }
  .cart__item-atribute {
    display: flex;
    color: rgb(50, 28, 25);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1;
    opacity: 0.5;
  }
  .cart__item-atribute__variation {
    margin-right: 5px;
  }
  .cart__item-title__price {
    color: rgb(50, 28, 25);
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
  }
}
.cart__item-count {
  position: relative;
  height: 30px;
  text-align: center;
  width: 110px;
  display: flex;
  bottom: -30px;
  right: 32px;
}
.count__number {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  height: 30px;
  border: 1px solid rgb(221, 221, 221);
  padding: 0px 30px;
  position: absolute;
  text-align: center;
  z-index: 1;
  color: #171717;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
}
.count__minus,
.count__plus {
  display: block;
  width: 30px;
  height: 100%;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(221, 221, 221);
  margin: 0px;
  font-size: 1em;
  cursor: pointer;
  color: rgb(69, 69, 69);
  position: absolute;
  z-index: 2;
  &::after {
    color: rgb(208, 208, 208);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: it-shirts-font;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    position: absolute;
    top: 6px;
    left: 7px;
  }
}
.count__minus {
  left: 0;
  &::after {
    content: "n";
  }
}
.count__plus {
  right: 0;
  &::after {
    content: "m";
  }
}
.cart__item-price {
  position: absolute;
  right: 20px;
  bottom: 20px;
  .woocommerce-Price-amount {
    max-width: 110px;
    width: 110px;
    height: 30px;
    border: 1px solid rgb(253, 228, 217);
    background: rgb(255, 248, 229);
    color: rgb(50, 28, 25);
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    padding: 2px 0 0;
    .woocommerce-Price-currencySymbol {
      font-size: 16px !important;
      font-weight: 700 !important;
      color: rgb(50, 28, 25) !important;
      text-transform: initial !important;
    }
  }
}
.modal__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff8e5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.bac__to__shop {
  color: rgb(230, 73, 39);
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.modal__footer-tottal {
  margin: 0px 20px 0px auto;
  font-size: 14px;
  width: 100%;
  max-width: 185px;
  white-space: nowrap;
}
.woocommerce-Price-amount {
  margin-left: 5px;
}
.woocommerce-Price-amount,
.woocommerce-Price-currencySymbol {
  font-weight: 800;
  font-size: 30px;
  font-family: "Gilroy";
  text-transform: uppercase;
}
.modal__footer-checkout {
  box-shadow: rgba(230, 73, 39, 0.21) 0px 6px 10px 0px;
  background: linear-gradient(
    to right,
    rgb(232, 89, 58) 0%,
    rgb(243, 114, 53) 100%
  );
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding: 14px 20px;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  max-width: 210px;
  &:hover {
    transform: translateY(-2px);
    background: rgb(255, 130, 63);
  }
}
.is-cart__empty {
  padding: 20px;
}
