@media only screen and (min-width: 801px) and (max-width: 1230px) {
  .product__items.it-boxes,
  .product__items.it-cups,
  .product__items.it-shirts,
  .product__items.it-hoodies {
    grid-template-columns: repeat(4, 1fr);
  }
  .page-content-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .slider-for {
    .card__product-img {
      height: 326px;
      img {
        width: 165px;
        height: 145px;
        top: 70px;
        left: 80px;
      }
      &:last-child img {
        width: 70px;
        height: 70px;
        left: 172px;
        top: 88px;
      }
    }
  }
  .table__size-pseudo-content {
    flex-wrap: nowrap;
  }
  .header__menu ul {
    flex-wrap: nowrap;
    li {
      margin-right: 10px;
    }
  }
  .second__slider-img,
  .first__slider-img {
    max-width: 220px;
  }
  .product__items {
    gap: 30px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .product__item {
    max-width: 260px;
  }
  .product__item-img {
    max-width: 100%;
  }
  .container {
    max-width: 725px;
  }
  #checkout {
    .container {
      max-width: 960px;
    }
    #main {
      .container {
        // padding-top: 50px;
      }
    }
    .aside__logo {
      position: relative;
      margin: 0 20px 0 0;
    }
  }
  .product__card-left {
    max-width: 45%;
  }
  .product__card-right {
    max-width: 49%;
  }
  #wcus-order-total {
    .woocommerce-Price-currencySymbol,
    .woocommerce-Price-amount {
      font-size: 20px;
    }
  }
  #shipping_method,
  .woocommerce-form-coupon-toggle {
    flex-wrap: wrap;
  }
  .contacts__left {
    max-width: 400px;
  }
  .contacts__right {
    top: 350px;
  }
  .contacts__right-cooperation {
    top: -40px;
  }
  .block-reviews__item {
    width: 43%;
    max-width: 100%;
  }
  .contacts__form {
    form {
      p {
        flex-flow: column nowrap;
        br {
          display: none;
        }
      }
      label,
      span {
        max-width: 100%;
      }
    }
  }
  .right__description-item {
    width: 90px;
    padding: 10px 0;
  }
  .product__card-tabs {
    margin-top: -40px;
  }
  .gift__content {
    flex-direction: column-reverse;
  }
  .gift__content-right {
    position: relative;
    top: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .product__card-left {
    h1 {
      color: rgb(0, 0, 0) !important;
      font-family: "PT Sans", sans-serif !important;
      font-size: 24px !important;
      font-weight: bold !important;
      line-height: 1 !important;
      margin: 15px 0 20px;
      text-transform: none !important;
    }
  }
}

// laptop
@media only screen and (min-width: 801px) and (max-width: 960px) {
  .container {
    max-width: 644px !important;
  }
  #cart {
    width: 125px;
  }
  .price_button {
    height: 100%;
    padding: 20px;
  }
  .quantity {
    max-width: 100%;
    margin: 20px 0 0;
  }
  .slider-nav__box {
    left: 32% !important;
  }
  .product__card-right {
    max-width: 54%;
    margin-right: 0;
    padding: 20px 15px 0;
  }
  #checkout {
    .container {
      max-width: 92% !important;
    }
    #main .container {
      padding-top: 0;
    }
  }
  .block-reviews__item {
    width: 40%;
    max-width: 100%;
  }
  .product__item-img {
    height: 160px;
  }
  .home {
    .product__item-img {
      height: 125px;
    }
  }
  .product__item {
    min-height: 270px;
    padding: 5px 5px 10px;
  }
  .slider-for {
    .card__product-img {
      img {
        left: 60px;
      }
    }
    &:last-child {
      img {
        left: 155px;
      }
    }
  }

  .contacts__left {
    max-width: 315px;
  }
}
@media only screen and (min-width: 581px) and (max-width: 800px) {
  #order_comments_field {
    max-width: 100%;
    margin-bottom: 20px !important;
  }
  .product__card-left {
    margin-right: 0;
    padding: 0 30px;
    max-width: 100%;
    h1 {
      color: rgb(0, 0, 0) !important;
      font-family: "PT Sans", sans-serif !important;
      font-size: 24px !important;
      font-weight: bold !important;
      line-height: 1 !important;
      margin: 15px 0 20px !important;
      text-transform: none !important;
    }
  }
  .table__size-pseudo-content {
    flex-wrap: nowrap;
  }
  .product__card-right {
    margin-right: 0;
    padding: 20px 30px 0;
  }
  .block-reviews__item {
    width: 40%;
    max-width: 100%;
  }

  .reviews h1 {
    max-width: 300px;
  }
  .header__menu {
    display: none;
  }
  .is-mobile {
    display: none;
  }
  .container {
    max-width: 475px;
  }
  #checkout,
  #thankyou,
  #page-404,
  #blog {
    #main {
      .container {
        max-width: 92%;
      }
    }
  }
  #checkout,
  #thankyou,
  #page-404,
  #blog {
    #header {
      position: fixed;
      .container {
        max-width: 92%;
        position: relative;
        .burger {
          position: absolute;
          left: 110px;
        }
      }
    }
    #main {
      .container {
        padding-top: 55px;
      }
    }
  }
  #checkout,
  #thankyou,
  #page-404 {
    .header__menu {
      display: block;
      opacity: 1;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 145px;
      background-color: white;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 0px;
      padding: 10px 20px;
      z-index: 6;
      width: min-content;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    .burger {
      display: block;
      width: 21px;
      height: 10px;
      position: relative;
      z-index: 10;
      cursor: pointer;
      transition: all 0.4s ease 0s;
      span {
        position: absolute;
        background-color: black;
        border-radius: 10px;
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.4s ease 0s;
      }
      &::before,
      &::after {
        content: "";
        background-color: black;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.4s ease 0s;
      }
      &::before {
        top: -1px;
      }
      &::after {
        bottom: -1px;
      }
      &.active {
        span {
          transform: scale(0);
          color: white;
        }
      }
      &.active::before {
        transform: rotate(45deg);
        top: 4px;
        background-color: white;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 4px;
        background-color: white;
      }
    }
    .burger.active span {
      transform: scale(1) translateY(-50%);
    }
    .burger.active::before {
      transform: rotate(0);
      top: -1px;
      background-color: black;
    }
    .burger.active::after {
      transform: rotate(0);
      bottom: -1px;
      background-color: black;
    }
  }
  #cart {
    margin-left: auto;
    margin-right: 20px;
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .second__slider-img,
  .first__slider-img {
    max-width: 220px;
  }
  .aside__bottom-menu ul {
    li {
      order: unset !important;
      white-space: nowrap;
      max-width: 40%;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(9) {
        display: block;
      }
      &:nth-child(2n) {
        text-align: right;
      }
    }
  }
  .block-discounts,
  .block-branding {
    flex-wrap: wrap;
  }
  .block-discounts__item {
    max-width: 115px;
  }
  .block-discounts__item-text {
    p {
      padding: 0 5px;
    }
  }
  .block-branding__item-image {
    img {
      max-width: 235px;
    }
  }
  .content {
    margin: 2em 0px 40px;
    .page-content-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
    table {
      td {
        display: block;
        margin: 0;
      }
      ul li,
      p li,
      ol li {
        padding: 0;
      }
    }
  }
  .contacts__right-cooperation {
    position: relative;
    top: 0;
    right: 0;
    width: 85%;
    margin: 20px auto;
  }
  .contacts__form {
    form {
      p {
        flex-flow: column wrap;
        br {
          display: none;
        }
      }
      label,
      span {
        max-width: 100%;
      }
    }
  }
  #blog .container,
  #page-404 .container {
    padding: 0 20px;
  }
  .gift__content {
    flex-direction: column-reverse;
  }
  .gift__content-right {
    position: relative;
    top: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .contacts__right,
  .contacts__right-cooperation {
    position: relative;
    top: 0;
    right: 0;
    margin: 20px auto;
    width: calc(100% - 60px);
  }
  .block-actions {
    margin: 0;
  }
  .block-actions__item {
    margin-right: 0;
    margin: 20px auto;
    flex-basis: unset;
  }
  #customer_details,
  #order_review {
    float: none;
    width: 100%;
    margin: 0;
  }
}

// Mobile *******************************************************************************************

@media only screen and (min-width: 320px) and (max-width: 580px) {
  body,
  html {
    overflow-x: hidden;
    &.lock {
      overflow: hidden;
    }
  }
  .is-mobile {
    display: none;
  }
  .container {
    padding: 0px 15px;
  }
  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 21px;
    height: 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    span {
      position: absolute;
      background-color: black;
      border-radius: 10px;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: all 0.4s ease 0s;
    }
    &::before,
    &::after {
      content: "";
      background-color: black;
      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.4s ease 0s;
    }
    &::before {
      top: -1px;
    }
    &::after {
      bottom: -1px;
    }
    &.active {
      span {
        transform: scale(0);
        color: white;
      }
    }
    &.active::before {
      transform: rotate(45deg);
      top: 4px;
      background-color: white;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 4px;
      background-color: white;
    }
  }
  #aside__wrap {
    left: -260px;
    @include transition;
    &.active {
      left: 0;
      z-index: 6;
    }
  }
  #aside__wrap-overlay.active {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
  }

  .aside__bottom-menu ul {
    li {
      order: unset !important;
      white-space: nowrap;
      max-width: 40%;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(9) {
        display: block;
      }
      &:nth-child(2n) {
        text-align: right;
      }
    }
  }
  .aside__content-top {
    .burger {
      top: -49px;
      left: -5px;
    }
  }
  #header {
    width: 100%;
    left: 0;
    .container {
      height: 30px;
      padding: 0 20px;
      justify-content: space-between;
    }
  }
  .header__menu {
    display: none;
  }
  #cart {
    width: auto;
    &::before {
      font-size: 18px;
    }
  }
  .cart_counter {
    margin-left: 0;
  }
  #content__wrapper {
    display: block;
  }
  .main__content {
    padding-top: 40px;
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
  }
  .product__item {
    min-height: 100%;
    padding: 5px 5px 10px;
    &.last__item {
      min-height: 306px;
    }
    .add_to_cart_button {
      max-width: calc(100% - 5px);
    }
  }
  .product__item-img {
    height: 126px;
  }
  .item__img-top,
  .item__img-bottom {
    object-fit: contain;
  }
  .product__item-title {
    height: 90px;
    padding: 15px 5px 0px;
    font-size: 16px;
  }
  .product__item-price {
    padding: 0 5px;
    white-space: nowrap;
  }
  .woocommerce-Price-amount {
    margin-left: 0;
  }
  .main__content-description {
    padding-bottom: 60px;
  }
  .aside__logo {
    margin-bottom: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    path {
      fill: rgb(0, 0, 0);
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(11) {
        fill: rgb(231, 73, 40);
      }
    }
  }
  .subcategory__menu-items {
    padding: 10px 20px;
    li {
      a[aria-current="page"] {
        color: rgb(255, 255, 255);
        background: rgb(230, 73, 39);
        border-radius: 15px;
        line-height: 1;
        &::after {
          content: none;
        }
      }
      a {
        padding: 6px 12px;
      }
    }
  }
  .content {
    margin: 2em 0px 40px;
    .page-content-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
    table {
      td {
        display: block;
        margin: 0;
      }
      ul li,
      p li,
      ol li {
        padding: 0;
      }
    }
  }
  .block-discounts,
  .block-branding {
    flex-wrap: wrap;
  }
  .contacts__right {
    position: relative;
    top: 0;
    right: 0;
    max-width: 85%;
    margin: 20px auto;
  }
  .contacts__form {
    form {
      p {
        flex-flow: column wrap;
        br {
          display: none;
        }
      }
      label,
      span {
        max-width: 100%;
      }
      span {
      }
    }
  }
  #breadcumbs {
    margin-bottom: 1em;
  }
  // card-product
  .product__card-content {
    padding-bottom: 20px;
  }
  .product__card {
    padding: 5px 30px 30px;
    margin: 1em 0px 2em;
  }
  .slider-for {
    max-width: 285px;
    margin-bottom: 0px;
    .card__product-img {
      height: 285px;
      img {
        left: 35px;
        width: 145px;
        height: 130px;
        top: 60px;
        left: 70px;
      }
      &:last-child {
        img {
          width: 80px;
          height: 80px;
          left: 130px;
          top: 75px;
        }
      }
    }
  }
  .product__card-right {
    margin-right: 0;
    padding: 0;
  }
  .product__card-left {
    h1 {
      color: rgb(0, 0, 0) !important;
      font-family: "PT Sans", sans-serif !important;
      font-size: 24px !important;
      font-weight: bold !important;
      line-height: 1 !important;
      margin: 15px 0px 20px !important;
      text-transform: none !important;
    }
  }

  .sku {
    margin: 1em 0px;
  }
  .price_button {
    background: transparent;
    padding: 0;
    height: 100%;
    .quantity {
      width: 100%;
      max-width: 100%;
    }
    & > span {
      background: rgb(255, 248, 229);
      overflow: hidden;
      padding: 23px 0;
      font-size: 25px;
      margin-bottom: 10px;
      height: 70px;
      width: 100%;
      text-align: center;
    }
    #pseudoCartBtn {
      width: 100%;
      padding: 20px 0;
    }
    .woocommerce-Price-amount,
    .woocommerce-Price-currencySymbol {
      font-size: 25px;
    }
  }
  .product__card-left {
    h1 {
      color: #000;
      font-family: "PT Sans", sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 20px;
      text-transform: none;
    }
  }
  .product__card-right__description ul {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .right__description-item {
    width: 50%;
  }
  .item__tooltip-hover {
    position: absolute;
    left: 0;
    margin-top: 0;
    padding: 15px 10px;
    z-index: 2;
    background: white;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
  }
  .product__card-description {
    padding: 5px 0;
  }
  .tabs__content {
    padding: 30px 0 0;
    p,
    ul li:last-child,
    ul {
      margin-bottom: 0;
    }
  }
  .tablinks {
    .tablinks__title {
      &::before {
        content: none;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      .tablinks__title {
        &::before {
          content: none;
        }
      }
    }
  }
  .item__type,
  .atribute__items,
  #ivpa-content .ivpa_custom_option,
  #ivpa-content .ivpa_attribute {
    grid-template-columns: 49px 1fr;
  }
  .item__type {
    grid-template-columns: 50px 1fr 1fr;
  }

  // end card-product

  #modal {
    max-width: 320px;
    top: 50%;
  }
  .first__slider,
  .second__slider {
    margin-bottom: 40px;
  }
  .second__slider-img,
  .first__slider-img {
    width: 100%;
    max-width: 320px;
  }
  .show__more-link {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    white-space: nowrap;
    border: 2px solid rgb(230, 73, 39);
    box-shadow: none;
    background: none;
    color: rgb(230, 73, 39);
    padding: 2px 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
    &::after {
      content: none;
    }
    &:before {
      content: none;
    }
  }
  .home h1,
  .home h2 {
    white-space: nowrap;
  }
  .cart__item {
    display: grid;
    grid-template-areas:
      "del title title"
      "del c price";
    grid-template-columns: 30px 1fr;
  }
  .cart__item-del {
    grid-area: del;
    text-align: left;
  }
  .cart__item-img {
    display: none;
  }
  .cart__item-title {
    grid-area: title;
    width: 100%;
    & > a {
      margin-bottom: 0;
    }
    .cart__item-atribute {
      margin: 5px 0 0;
    }
  }
  .cart__item-count {
    right: 10px;
    bottom: unset;
    grid-area: c;
    width: 90px;
  }
  .cart__item-title__price {
    position: relative;
    bottom: -25px;
  }
  .cart__item-price {
    grid-area: price;
    position: relative;
    right: unset;
    bottom: unset;
    max-width: 80px;
  }
  .modal__footer {
    flex-flow: row wrap;
  }
  .bac__to__shop,
  .modal__footer-tottal {
    width: 50%;
    margin: 0;
  }

  .modal__footer-checkout {
    max-width: 100%;
    margin-top: 15px;
  }
  // checkout
  #customer_details,
  #order_review {
    float: none;
    width: 100%;
    margin: 0;
  }
  #checkout .checkout__content,
  #thankyou .checkout__content,
  #page-404 .checkout__content,
  #blog .checkout__content {
    padding: 30px;
  }
  .checkout__form label,
  #wcus_np_billing_custom_address_field label,
  .woocommerce form .form-row label {
    width: auto;
    line-height: 1;
  }
  .checkout__form,
  #wcus_np_billing_custom_address_field {
    margin: 0 !important;
  }
  .checkout__form .woocommerce-input-wrapper,
  #wcus_np_billing_custom_address_field .woocommerce-input-wrapper {
    width: 100% !important;
    padding: 0;
  }
  .checkout__form.phone label::after,
  #wcus_np_billing_custom_address_field.phone label::after {
    content: none;
  }
  #order_comments_field {
    margin: 0 0 15px !important;
  }
  #shipping_method {
    flex-wrap: wrap;
  }
  .woocommerce ul#shipping_method li label {
    display: inline-block;
    white-space: nowrap;
  }
  .woocommerce table.shop_table tfoot tr td {
    padding: 20px 20px 0px 0;
  }
  .woocommerce table.shop_table tfoot tr td {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  #wcus-order-total {
    margin-left: 10px;
  }
  .woocommerce-form-coupon-toggle {
    flex-direction: column;
  }
  #content__wrapper {
    #main {
      .container {
        padding-top: 25px;
      }
    }
  }
  #checkout,
  #thankyou,
  #page-404 {
    .header__menu {
      display: block;
      opacity: 1;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 45px;
      background-color: white;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 0px;
      padding: 10px 20px;
      z-index: 6;
      width: min-content;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    .burger.active span {
      transform: scale(1) translateY(-50%);
    }
    .burger.active::before {
      transform: rotate(0);
      top: -1px;
      background-color: black;
    }
    .burger.active::after {
      transform: rotate(0);
      bottom: -1px;
      background-color: black;
    }
  }
  #checkout,
  #thankyou,
  #page-404,
  #blog {
    #main {
      .container {
        padding-top: 50px;
      }
    }
    .aside__logo {
      position: relative;
      margin: 0;
    }
    #header {
      position: fixed;
      .container {
        position: relative;
        .burger {
          position: absolute;
          left: 20px;
        }
        #cart {
          position: absolute;
          right: 20px;
        }
      }
    }
  }
  #blog {
    .aside__logo {
      left: 0;
      transform: translateX(0);
    }
    #main {
      .container {
        padding-top: 0px;
      }
    }
  }
  #page-404 {
    .container {
      img {
        width: 100%;
      }
    }
  }
  #blog.blog__single__item,
  #blog,
  #page-404 {
    #main {
      padding: 70px 0px 30px;
    }
  }
  .home {
    padding-top: 30px;
  }
  #blog.blog__single__item #breadcumbs,
  #page-404.blog__single__item #breadcumbs {
    flex-wrap: wrap;
    .container {
      padding-top: 10px;
    }
  }
  .add__reviews {
    position: relative;
    top: 0;
    right: 0;
    margin: 15px 0 0 30px;
  }
  #wcus-order-total {
    .woocommerce-Price-amount,
    .woocommerce-Price-currencySymbol {
      font-size: 20px;
    }
  }
  .cart-subtotal {
    padding: 0 20px;
    td {
      padding: 0 !important;
    }
  }
  .order-total__total-sum {
    padding: 0 10px;
  }
  .block-actions {
    margin: 0 auto;
  }
  .block-actions__item {
    margin-right: auto;
    margin: 0 auto 20px;
  }
  #contacts__modal-form,
  #akciya__modal-form {
    width: 90%;
  }
  .gift__content {
    flex-direction: column-reverse;
  }
  .gift__content-right {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 30px 5px;
  }
  .contacts__right-cooperation {
    position: relative;
    top: 0;
    right: 0;
    width: 85%;
    margin: 20px auto;
  }
  .blog__content-item_img {
    max-width: 100%;
    height: 100%;
  }
  .slider-nav__box {
    left: 10%;
  }
}
