// checkout

.page-template-page-checkout .order-details,
#order_review {
  background: rgb(255, 248, 229);
  border: 1px solid rgb(253, 228, 217);
  width: 40%;
  height: 100%;
  margin-top: 12px;
  float: right;
}
#customer_details {
  float: left;
  width: 54.5%;
  height: 100%;
  margin-right: 5%;
}
form[name="checkout"] {
  display: inline-block;
}
.checkout__form,
#wcus_np_billing_custom_address_field {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  color: #363636;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 10px !important;
  label {
    padding: 12px 0;
    display: inline-block !important;
    width: 25.5%;
    max-width: 124px;
    font-weight: normal;
    &[for="order_comments"] {
      .optional {
        display: none;
      }
    }
  }
  .woocommerce-input-wrapper {
    display: block;
    float: right;
    padding: 12px 10px;
    font-size: 14px !important;
    width: 72.5% !important;
    height: 50px !important;
  }
  .select2-container .select2-selection--single,
  input,
  textarea {
    display: inline-block;
    padding: 12px 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgb(222, 222, 222);
    background: rgb(255, 255, 255);
    width: 100%;
    &::placeholder {
      font-family: inherit;
      font-weight: normal;
    }
  }
  .select2-container .select2-selection--single {
    height: auto;
    padding: 6px 10px;
  }
  .select2-dropdown {
    border: 1px solid rgb(222, 222, 222);
  }
  textarea {
    height: 100px !important;
    resize: none;
  }
  &.phone {
    label {
      position: relative;
      &::after {
        content: "+";
        float: right;
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
}
.select2-container--open .select2-dropdown {
  top: -12px;
  border: 1px solid rgb(222, 222, 222);
  border-top: 0px solid rgb(247, 242, 229);
  color: rgb(54, 54, 54);
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
#billing_country_field {
  .select2-container--open .select2-dropdown {
    display: none !important;
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 8px;
}

#order_comments_field {
  display: flex;
  flex-direction: column;
  label[for="order_comments"] {
    max-width: 100%;
    line-height: 1 !important;
    width: 100% !important;
    margin: 30px 0 !important;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    color: #9e9e9e;
    font-size: 24px;
    padding: 0;
  }
  .woocommerce-input-wrapper {
    max-width: 100%;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
  }
  #order_comments {
    line-height: 1;
  }
}

.woocommerce form .form-row .required {
  color: rgb(54, 54, 54);
}
#ship-to-different-address,
label[for="payment_method_liqpay-webplus"] img,
.woocommerce-shipping-totals > th {
  display: none;
}
label[for="payment_method_liqpay-webplus"] img {
  display: none;
}
#payment {
  h3 {
    margin: 30px 0;
  }
}
ul.payment_methods {
  display: flex;
  padding: 0 !important;
  min-height: 100px;
  position: relative;
  label {
    cursor: pointer;
    background: rgb(251, 251, 251);
    border: 2px solid rgb(251, 251, 251);
    color: rgb(39, 14, 10);
    font-size: 14px;
    line-height: normal;
    width: auto;
    margin-right: 2%;
    padding: 7px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
  }
  input {
    position: absolute;
    left: -100%;
    &:checked + label {
      border-color: rgb(230, 73, 39);
    }
  }
  .payment_box {
    position: absolute !important;
    left: 0;
    max-width: 485px;
    padding: 1em 0 !important;
    background-color: rgba(223, 220, 222, 0) !important;
    color: rgb(139, 139, 139) !important;
    font-size: 14px !important;
    line-height: 18px !important;
    margin-bottom: 1em !important;
    margin: 0 !important;
    &::before {
      content: none !important;
    }
  }
}

.woocommerce-checkout-review-order-table {
  thead {
    display: none;
  }
}
#order_review tr.cart-subtotal,
#order_review tr.shipping,
#order_review tr.cart-discount,
#order_review tr.giftcard,
#order_review tr.fee {
  text-align: right;
  white-space: nowrap;
}
tr.cart-subtotal td,
tr.shipping td,
tr.cart-discount td,
tr.giftcard td,
tr.fee td {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  vertical-align: bottom;
  padding: 15px 20px 0px;
}
.cart-subtotal {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  td {
    padding-bottom: 0 !important;
    justify-content: flex-end;
  }
  .woocs_special_price_code,
  .woocommerce-Price-amount,
  .woocommerce-Price-currencySymbol {
    color: rgb(170, 161, 148);
    display: inline-block;
    font-size: 16px !important;
  }
  .woocommerce-Price-amount {
    margin-left: 5px;
  }
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: none !important;
  border-radius: 0px !important;
}
tr.order-total {
  display: block;
  td {
    text-align: right;
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
}
.order-details tr td:first-child {
  padding: 15px 20px 20px !important;
}
#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input,
.woocommerce ul#shipping_method li input {
  width: 20px;
  position: absolute;
  left: -1000%;
}
.woocommerce ul#shipping_method {
  .woocommerce-Price-currencySymbol,
  .woocommerce-Price-amount {
    display: inline-block;
    font: normal 16px/24px "PT Sans", sans-serif;
    text-transform: lowercase;
  }
}
#billing_city_field,
#billing_address_2_field {
  .optional,
  .optional {
    display: none;
  }
}
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border-top-width: 0px;
  font-weight: normal;
}
.woocommerce table.shop_table {
  display: block;
  border: none;
  margin: 0;
  border-collapse: collapse;
  td {
    border-top: none;
    font-size: 14px;
  }
  .cart_item {
    display: flex;
    border-bottom: 1px solid rgb(247, 242, 229);
    .product_img {
      padding: 20px 17px;
      display: block;
      width: 90px;
      img {
        display: block;
        width: 55px;
        min-width: 55px;
      }
    }
    .product-name {
      padding: 20px 20px 20px 0;
      .quantity,
      .name,
      .size_pa,
      .color_pa {
        display: block;
        width: 100%;
        line-height: 1.2;
        color: #7f7c72;
        font-size: 12px;
        line-height: normal;
      }
      .name {
        color: #000;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
      }
      .size_pa,
      .color_pa {
        margin: 12px 0;
      }
      .woocommerce-Price-amount,
      .woocommerce-Price-currencySymbol {
        color: #7f7c72;
        font-size: 12px;
        line-height: normal;
        font-weight: normal;
        font-family: "PT Sans", sans-serif;
      }
    }
  }
  tfoot,
  tfoot tr,
  tfoot tr th,
  tfoot tr td,
  tbody {
    display: block;
  }
  tfoot tr td {
    padding: 20px;
    display: flex !important;
    flex-direction: row;
    white-space: normal;
  }
}

#show__modalCart {
  display: inline-block;
  font-size: 14px;
  color: #e64927;
  line-height: 38px;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.order-total__total-sum {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  width: 100%;
  display: block;
}
.woocommerce-form-coupon-toggle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .woocommerce-info::before {
    content: none;
  }
}
#cupon__box {
  width: 100%;
  .woocommerce-info {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: transparent;
    color: rgb(230, 73, 39);
    border-top: none;
    list-style: none outside;
  }
  .showcoupon,
  #link-cert {
    color: rgb(230, 73, 39);
    text-decoration: underline;
    font: normal 14px "PT Sans", sans-serif;
    &:hover {
      text-decoration: none;
    }
  }
  .close {
    top: 14px !important;
  }
  .woocommerce-message {
    border-top-color: transparent;
    background-color: transparent;
    &::before {
      color: rgb(234, 92, 58);
    }
  }
}
form.checkout_coupon,
#pwgc-redeem-gift-card-form {
  border: none !important;
  padding: 10px 0 0 !important;
  margin: 10px 0 0 !important;
  text-align: left;
  border-radius: 0 !important;
  .form-row {
    width: 100%;
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  #coupon_code,
  #pwgc-redeem-gift-card-number {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 14px;
    height: 50px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    margin: 0px 0 !important;
    font-weight: normal;
    &::placeholder {
      color: rgb(54, 54, 54) !important;
    }
  }
  button[name="apply_coupon"],
  #pwgc-redeem-button {
    border: 2px solid rgb(230, 73, 39);
    box-shadow: none;
    background: none;
    color: rgb(230, 73, 39);
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 20px 0px 0 !important;
    padding: 14px 0px;
    border-radius: 0;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      background: none;
      color: rgb(230, 73, 39);
    }
  }
}

#pwgc-redeem-gift-card-form {
  display: none;
  label[for="pwgc-redeem-gift-card-number"] {
    display: none !important;
  }
  input[type="text"] {
    margin-bottom: 10px !important;
  }
}
// переключатель валюты
.woocs-style-2-drop-down {
  background: #282828 !important;
  border-radius: 0 !important;
  height: 34px !important;
  color: rgba(255, 255, 255, 0.5) !important;
  overflow: hidden !important;
  max-width: 80px !important;
  .woocs-style-2-top,
  .woocs-style-2-bottom {
    width: 100% !important;
    background: rgb(0, 0, 0) !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
  }
  .woocs-style-2-name,
  .woocs-style-2-link,
  .woocs-style-2-name-large {
    line-height: 1 !important;
    margin-left: 0 !important;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px !important;
    padding: 0 0 0 5px !important;
  }
  .woocs-style-2-link {
    background-size: 16px 11px !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    padding: 0 0 0 21px !important;
  }
  .woocs-style-2-top,
  .woocs-style-2-bottom {
    height: 34px !important;
    padding: 9px 8px !important;
  }
  .woocs-style-2-x {
    background: rgb(142, 142, 142) !important;
    &:hover {
      background: rgb(142, 142, 142) !important;
    }
  }
  .woocs-style-2-line2 {
    background: rgb(34, 34, 34) !important;
    &:hover {
      background: rgb(34, 34, 34) !important;
    }
  }
  .woocs-style-2-avatar-large,
  .woocs-style-2-avatar {
    border-radius: 0 !important;
    height: 11px !important;
    margin-right: 5px !important;
    margin-left: 0 !important;
    position: relative !important;
    top: 0px !important;
    width: 16px !important;
  }
  .woocs-style-2-x-touch {
    right: -12px;
    top: -10px !important;
    width: 20px !important;
    height: 20px !important;
    position: absolute;
  }
  .woocs-style-2-to {
    transform: translateY(-34px) !important;
  }
  .woocs-style-2-from-contents {
    transform: scale(1) !important;
  }
  .woocs-style-2-from {
    height: 34px !important;
    padding: 11px 0 !important;
  }
  .woocs-style-2-row {
    height: 100% !important;
    &:hover {
      background-color: rgba(242, 242, 242, 0) !important;
    }
  }
}
.woocs-style-2-drop-down.woocs-style-2-expand {
  min-height: 100% !important;
  position: initial !important;
  width: 80px !important;
}

// --end-- //
#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  padding: 10px 0;
  border-bottom: 1px solid #d3ced200;
}
.place-order {
  padding: 0 20px 20px !important;
  margin: 0 !important;
  text-align: right;
  .pwgc-checkout-subtitle {
    line-height: 2;
  }
  .woocommerce-Price-amount,
  .woocommerce-Price-currencySymbol {
    color: #aaa194;
    display: inline-block;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
  }
}
button#place_order {
  display: block;
  font-size: 24px;
  box-shadow: rgba(230, 73, 39, 0.21) 0px 6px 10px 0px;
  background: linear-gradient(
    to right,
    rgb(232, 89, 58) 0%,
    rgb(243, 114, 53) 100%
  ) !important;
  border: none;
  transition: margin-top 0.1s ease-in 0s;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  margin: 20px 0px 10px;
  padding: 14px 0px;
  font-weight: normal;
  font-family: inherit;
  &:hover {
    transform: translateY(-2px);
    background: rgb(255, 130, 63) !important;
  }
}

.wc-ukr-shipping-checkbox {
  background: rgb(251, 251, 251);
  border: 2px solid rgb(251, 251, 251);
  color: rgb(39, 14, 10);
  font-size: 14px;
  line-height: normal;
  position: relative;
  width: auto;
  padding: 7px;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: -5px;
  cursor: pointer;
  &:focus-within,
  &:focus,
  &:active,
  &:focus-visible {
    border-color: rgb(230, 73, 39);
  }
}
.select2-container--default .select2-selection--single {
  border-radius: 3px;
  font-size: 14px !important;
  height: auto;
  padding: 7px 5px;
  margin: 0 0 11px;
  border: 1px solid #dedede;
}
#wcus_np_billing_fields {
  padding-right: 7px;
}

#wcus_np_billing_custom_address_field {
  margin-bottom: 10px !important;
  .woocommerce-input-wrapper {
    width: 100% !important;
    padding: 0;
    input {
      border: 1px solid #aaa;
    }
  }
}
.woocommerce-error {
  .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    &::after {
      content: "\6c";
      font-family: "it-shirts-font" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 2px;
      top: 2px;
      cursor: pointer;
      color: rgb(204, 182, 182);
    }
  }
  &::before {
    content: none !important;
  }
}

.woocommerce-error,
.woocommerce-message.message-success,
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok,
#pwgc-redeem-error {
  background-color: #ffe3e3;
  border: none;
  border-radius: 3px;
  color: #c26464;
  padding: 12px 18px;
  position: relative;
  margin: 10px 0 !important;
  text-align: left;
}
#pwgc-redeem-error {
  color: #c26464 !important;
  padding: 0 0 0 20px !important;
  line-height: 3;
}
.gift__content-right .ivpa_title {
  font-size: 18px !important;
}
#thankyou {
  text-align: center;
  strong {
    color: #2a2a2a;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
  }
  p {
    color: #949494;
    font-size: 14px;
    line-height: 1;
  }
  a {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    color: #e64927;
  }
}

.select2-container--default .select2-results__option--highlighted {
  &[data-selected],
  &[aria-selected] {
    background-color: #e64927;
  }
}
#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: show__block;
}
.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
  text-align: left;
}
#wcus-order-total {
  .woocommerce-Price-amount {
    margin-left: 5px;
  }
}
#shipping_method {
  width: 100%;
  margin: 30px 0 0 !important;
  display: flex;
  align-items: center;
  label {
    cursor: pointer;
    padding: 7px;
    margin: 0;
    background: rgb(251, 251, 251);
    border: 2px solid rgb(251, 251, 251);
  }
  label[for="shipping_method_0_flat_rate5"],
  input:checked + label {
    border: 2px solid rgb(230, 73, 39);
    display: inline-block !important;
    background: white;
  }
}
.cart-discount {
  td {
    justify-content: flex-end !important;
  }
}

